@tailwind base;
@tailwind components;
@tailwind utilities;


@import '_heading';
@import '_text';
@import '_swiper';

.introduction {
  &__arrow {
    @apply relative;

    &::before, &::after {
      @apply absolute bg-gray w-[7px] h-[40px] origin-bottom rounded bottom-0 left-1/2;

      content: '';
    }

    &::before {
      transform: translateX(-80%) rotate(45deg);
    }

    &::after {
      transform: translateX(-10%) rotate(-45deg);
    }
  }
}

.section {
  @apply relative;
  &__shapes {
    @apply absolute left-0 top-0 w-[117px] h-full;

    span {
      @apply absolute top-0 left-0 w-full rounded-b-full;

      &:first-child {
        @apply rounded-none;
      }
    }
  }
}

section {
  @apply relative;

  &::before {
    @apply absolute left-0 top-0 w-full h-[200px];
    content: '';
  }
}

.fortification {
  &::before {
    @apply bg-tertiary;
  }
}

.architecture {
  &::before {
    @apply bg-primary;
  }
}

.religieux {
  &::before {
    @apply bg-secondary;
  }
}

.lieux {
  &::before {
    @apply bg-primary-light;
  }
}

.conclusion {
  &::before {
    @apply bg-secondary;
  }
}

.description {
  @apply underline relative cursor-pointer;

  .descriptif {
    @apply hidden absolute bottom-full left-1/2 -translate-x-[50%] -translate-y-[10px] w-[350px] bg-white rounded-lg shadow-lg p-2 bg-secondary text-white z-[150];

    &::before {
      @apply absolute bottom-0 left-1/2 -translate-x-[50%] rotate-[45deg] translate-y-[50%] -z-10 w-[15px] h-[15px] bg-secondary;
      content: '';
    }
  }

  &:hover {
    .descriptif {
      @apply block;
    }
  }
}